
body {
  font-family: 나눔스퀘어, 'NanumSquare', sans-serif;
  letter-spacing: 2px;
}
.App {
  text-align: center;
}
.LiveContainer{
  border-radius:0.5em;
  border:0.5px solid rgba(165, 165, 165, 0.78);
  height:20vh;
  margin:10px;
  background: white;
}

.Header{
  background-color: white;
  border-bottom: 0.5px solid rgba(165, 165, 165, 0.78);
  height:10vh;
  display:flex;
  align-items:center;
  justify-content: space-around;
  position: sticky;
  top: 0;
  
}
.Link{
  padding:1vw;
}

.StateCircle{
  width:1vw;
  height:1vh;
}

@media screen and (max-width: 768px) {
  .Header{
    display: block;
  }
  .LiveContainer{
    margin:0px;
  }
}